/*! 
    Fix visual bug and styled Mason Publishing Group Theme's for Indonesian Journal of Digital Innovation Studies
    Hosted on Jurnal Unpad
    OJS 2.4.8.3
    By: Andriyansyah Nurrachman
!*/

/* 
  Color Palette
  Light         = #439334
  Gray          = #EEEDED
  Green         = #0C7236
  Dark Blue     = #023642
  Black         = #0A2432
  Pitch Black   = #000000
*/

/* begin fix navbar searchbar */
#searchbar form {
    display: inline-flex;
  }
/* end fix navbar searchbar */

/* begin fix banner margin */
#header, #headerTitle, #headerTitle figure {
    margin:0px;
    padding:0px;
  }
/* end fix banner margin */

/* begin fix user sidebar width */
#sidebarUser {
    width: 100% !important;
  }
/* end fix user sidebar width */

/* begin style sidebar block */
.blockTitle,
.blockSubtitle {
  text-align: center;
}
/* end style sidebar block */

/* begin style sidebar menu button */
#customblock-Sidebar-Menu .largeButton {
    margin: 5px 0px 5px 0px;
  }
/* end style sidebar menu button */

@media screen and (max-width: 600px) {
    /* Begin Fix sidebar mobile */
    #body {
      display: flex;
      flex-flow: column-reverse;
    }
    #sidebar {
      display: block;
      padding-top: 25px;
    }
    #rightSidebar {
      width: 100%;
    }
    /* End Fix sidebar mobile */
  }
  